<div class="my-5">
  <div class="p-5 text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">ACADEMIE</h1>
      <p class="col-lg-8 mx-auto lead">
        Labore id adipisicing enim non consequat nostrud duis consequat veniam Lorem mollit do ad et. Deserunt enim excepteur deserunt ut reprehenderit aliqua do dolor aliqua incididunt est irure ea magna. Sunt laborum nulla fugiat deserunt labore amet officia ullamco aliquip adipisicing duis eiusmod deserunt irure.
        
      </p>
    </div>
  </div>
</div>

<div id="apropos">
<div class="container">
<section>
<h2>A propos de l'ACADEMIE</h2>
<p>
Sint labore laboris sint sit nulla nulla enim adipisicing minim enim occaecat do amet eiusmod. Sunt anim pariatur est esse incididunt id eu officia do ullamco velit excepteur. Magna eiusmod do esse reprehenderit ut dolor irure anim duis exercitation laborum.
</p>
</section>
</div>

<div class="instructor">
<div class="card-group">
  <div class="card">

         <%= image_tag("cato.jpg", class: "icard-img-top", alt: "Card image cap", size: "100*50")%>
    <div class="card-body">
      <h5 class="card-title">Caton</h5>
      <p class="card-text">Proident Lorem exercitation id consectetur. Mollit elit veniam eiusmod reprehenderit commodo eiusmod adipisicing nulla ullamco sit commodo Lorem commodo. Ipsum exercitation Lorem quis adipisicing aliqua magna. Nulla laboris elit irure dolore dolore elit ea Lorem Lorem. Dolor ad pariatur enim in nisi magna quis non tempor ex ad cillum.</p>
      <p class="card-text"><small class="text-muted">ANNO DOMINI I</small></p>
    </div>
  </div>
  <div class="card">
     <%= image_tag("cato.jpg", class: "icard-img-top", alt: "Card image cap")%>
    <div class="card-body">
      <h5 class="card-title">Caton</h5>
      <p class="card-text">
      Proident Lorem exercitation id consectetur. Mollit elit veniam eiusmod reprehenderit commodo eiusmod adipisicing nulla ullamco sit commodo Lorem commodo. Ipsum exercitation Lorem quis adipisicing aliqua magna. Nulla laboris elit irure dolore dolore elit ea Lorem Lorem. Dolor ad pariatur enim in nisi magna quis non tempor ex ad cillum.
      </p>
      <p class="card-text"><small class="text-muted">ANNO DOMINI I</small></p>
    </div>
  </div>
  <div class="card">
         <%= image_tag("cato.jpg", class: "icard-img-top", alt: "Card image cap")%>

    <div class="card-body">
      <h5 class="card-title">Caton</h5>
      <p class="card-text">
      Proident Lorem exercitation id consectetur. Mollit elit veniam eiusmod reprehenderit commodo eiusmod adipisicing nulla ullamco sit commodo Lorem commodo. Ipsum exercitation Lorem quis adipisicing aliqua magna. Nulla laboris elit irure dolore dolore elit ea Lorem Lorem. Dolor ad pariatur enim in nisi magna quis non tempor ex ad cillum.
      
      <p class="card-text"><small class="text-muted">ANNO DOMINI I</small></p>
    </div>
  </div>
</div>

</div>
</div>
