<h1>Editing enrollement</h1>

<%= render "form", enrollement: @enrollement %>

<br>

<div>
  <%= link_to "Show this enrollement", @enrollement %> |
  <%= link_to "Back to enrollements", enrollements_path %>
</div>
